.disclaimer {
    color: red;
    font-size: small;
}

body {
    padding: 10px;
    margin-bottom: 50px;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.heading {
    background-color: black;
    color: white;
}

::selection {
  background: rgb(255, 57, 57);
  color: #ffffff;
}

::-moz-selection {
  background: rgb(255, 57, 57);
  color: #ffffff;
}

